* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  text-align: center;
  background: #eaecf9;
}
.container {
  width: 100vw;
}
body.active {
  background-color: rgb(41, 40, 40, 0.9);
  color: white;
}
.body {
  width: 100vw;
}

nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.logo {
  animation-name: logo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes logo {
  0% {
    transform: scaleY(0.5);
  }

  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1.5);
  }
}

.container nav .toggleMode label {
  background-color: black;
  width: 50px;
  height: 30px;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  right: 1rem;
}
.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}
#mode {
  position: absolute;
  opacity: 0;
}

#mode:checked + label .ball {
  transform: translateX(20px);
  background-color: black;
}
#mode:checked + label {
  background-color: white;
}
#mode:checked + label i {
  color: black;
}

label i {
  color: white;
  font-size: 1em;
}
.container main {
  padding: 4rem 2rem;

  text-align: left;
}

.container .name-container h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
}
.container main .name-container {
  padding: 1rem;
}
.container .nav-container {
  position: fixed;
  z-index: 100;
  bottom: 2px;
  background: #eaecf9;
  box-shadow: 10px 10px 2px #c7c9d4, -10px -10px 2px #eaecf9;
  width: 100vw;
  z-index: 100;
}
.container .nav-container ul {
  display: flex;

  align-items: center;
  justify-content: space-evenly;

  padding: 1rem 0;

  gap: 0.5rem;
}
.container .nav-container ul a {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}
.container .nav-container.active ul a {
  color: white;
}

button {
  background-color: black;
  color: white;
  margin: 1rem 0;
  padding: 0.5rem 0.7rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  letter-spacing: 2px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
}
button.active {
  background-color: white;
  color: black;
}
.resume {
  margin-right: 1rem;
}
.container .about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85vw;
  background-color: white;

  margin: auto;
  margin-bottom: 3rem;
  padding: 1rem;

  border-radius: 20px;

  background: #eaecf9;
  box-shadow: 20px 20px 60px #c7c9d4, -20px -20px 60px #ffffff;
}
.container .about-container.active {
  background: #292828;
  box-shadow: 20px 20px 60px #232222, -20px -20px 60px #2f2e2e;
}
.container .about-container {
  font-size: 1.2rem;
}
.container .about-container .skills {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
.container .about-container .skills i {
  font-size: 1.5rem;
  line-height: 2;
  color: black;
}

.container .about-container p {
  text-align: left;
}
.container .project {
  height: 600px;
  overflow-y: scroll;

  padding: 4rem 1rem 2rem 1rem;
  background: #eaecf9;
}
.container .project.active {
  background: rgb(41, 40, 40);
}

.container .project img {
  width: 100%;
  padding-bottom: 2rem;
}
.container .project .project-img {
  position: relative;
  overflow-x: hidden;
}
.container .project-img .git {
  position: absolute;
  background-color: red;
  top: 30%;
  right: 0;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  transform: translateX(101%);
  transition: all 2s linear;
}
.container .project-img .netlify {
  position: absolute;
  background-color: red;
  top: 50%;
  right: 0;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  transform: translateX(101%);
  transition: all 2s linear;
}
.container .project .project-img:hover .git {
  transform: translateX(0);
}
.container .project .project-img:hover .netlify {
  transform: translateX(0);
}
.container .contact {
  background-color: black;
  padding: 1rem;
  margin-top: 2rem;
}
.container .contact.active {
  background-color: white;
}
.container .contact form {
  text-align: left;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 0.5rem;
}
.container .contact form input,
textarea {
  width: 100%;
  background-color: rgb(234, 236, 249, 0.9);
  padding: 1rem;
  border: none;
  margin-bottom: 1rem;
}
.container .contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.container .contact ul a {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
